<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" charset="utf-8">

    <!-- <meta charset="utf-8"> -->
    <title>ZingGrid : Test </title>
    <script src="https://cdn.zinggrid.com/zinggrid.min.js" defer></script>
  </head>
  <body>
    <h1> Hi   <p> <%= errorMessage %> </p> </h1>
    <h2> User Level: Admin </h2>
    <a href="/api/a/logout"> Logout </a>
    
  <!---- testing prepopulating grid here, Next step to create database that can create users -->
    <zing-grid 
    caption="Username/Email & Passwords" 
    editor
    editor-controls="all" 
    contextmenu=""
    pager="" 
    page-size="5" 
    layout="row" 
    role="grid"
    viewport="tablet-portrait" 
    editor="inline"  
    caption="Hello data">
    <zg-data src="http://cse135ravisteven.site/api/data/users" idKey="id"> </zg-data>
  </zing-grid>
  </body>
</html>

<a href="/api/a/logout"> Logout </a>