<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login System</title>
  </head>
    <body class="background">
      <section id='login'>
        <form action='/api/dashboard' method='get'   style="border-color:#66bfbf">
        <div>
            <h1 class="logintitle">Login</h1>
            <div class="inp">
                <label>Username : </label>
                <input type="text" placeholder="Enter Username" name="uname" required>          
            </div>
            <div  class="inp">
                <label>Password : </label>
                <input type="password" placeholder="Enter Password" name="pw" required>
            </div>
        
           <div>
            <button formaction="/api/dashboard" type="submit">Login</button>
           </div>
        </div>
    </form>
      </section>
    

  </body>
</html>