
<h1> Sign up form </h1>
 
<form id="register-form" action="/insert/register" method="POST">
    <label for="username"> Username </label>
    <input type="text" id="username" name="username" placeholder="username" required>

    <br>

    <label for="password"> Password </label>
    <input type="password" name="password" placeholder="password" id="password" required>
    <input type="submit" value="Register" />

</form>

<script>
  let form = document.getElementById('register-form');

  form.addEventListener('submit', registerUser);

  // sending data as JSON
  async function registerUser(e){
    e.preventDefault();//does not immediately refresh
    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;

    let result = await fetch('/api/register',{
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        username,password
      })
    }).then((res) => res.json())
    console.log("USER DID SMTN");
  }

</script>